<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--define various log targets-->
  <targets>
    <!--write logs to file-->
    <!--<target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <target xsi:type="File" name="ownFile-web" fileName="LogFiles/${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--<target xsi:type="Null" name="blackhole" />-->
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <!-- 记录微软所有日志，一般不开 -->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Fatal" writeTo="blackhole" final="true" />-->
    <logger name="*"  writeTo="ownFile-web" />
  </rules>
</nlog>
